:root {
  --primary-green: #22c55e;
  --secondary-green: #16A34A;
  --tertiary-green: #15803D;

  --primary-red: #ef4444;
  --secondary-red: #dc2626;
  --tertiary-red: #991b1b;

  --primary-color: #61dafb;

  --primary-link-color: #1d4ed8;
  --secondary-link-color: #1e40af;

  --background-color: #f0f0f0;

  --white: #ffffff;
  --black: #282c34;

  --font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --padding: 32px;
  --border-radius: 8px;
  --transition-speed: 0.3s;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family-mono);
}

.custom-btn {
  background-color: var(--primary-red);
  color: var(--white);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.custom-btn:hover {
  background-color: var(--secondary-red);
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.form-container {
  background-color: var(--white);
  padding: var(--padding);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.link {
  color: var(--primary-link-color);
  text-decoration: none;
  transition: color var(--transition-speed);
}

.link:hover {
  color: var(--secondary-link-color);
  text-decoration: underline;
}

.form-grid {
  display: flex;
  flex-direction: column;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-column:first-child {
  padding-right: 0;
}

.form-column:last-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .form-grid {
      flex-direction: row;
  }
  
  .form-column {
      width: 50%;
  }

  .form-column:first-child {
      padding-right: 0.5rem; /* 8px */
  }

  .form-column:last-child {
      padding-left: 0.5rem; /* 8px */
  }
}

.home-bg {
  background-image: url('../assets/birdsbg.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  position: absolute;
  top: 5%;
  height: 200px; /* Adjust as needed */
  width: auto;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.dashboard {
  position: relative;
  min-height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-image: url('../assets/graphpaper.jpg'); /* Replace with your image path */
  background-size: cover; /* Ensure the image covers the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  z-index: 0; /* Ensure it stays behind other elements */
  opacity: 1; /* Adjust opacity as needed */
}

.dashboard-header {
  position: relative;
  width: 100%; /* Full width of the window */
  height: 100px; /* Fixed height */
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space out the logo and user icon */
  background-color: transparent; /* Transparent background */
  z-index: 10; /* Ensure it stays above other elements */
  overflow: hidden; /* Prevent overflow */
}

.dashboard-logo {
  height: 60px; /* Adjust as needed */
  margin-left: 50px; /* Add some spacing from the left edge */
  opacity: 0.85; /* Adjust opacity as needed */
}

.user-icon {
  height: 70px; /* Adjust as needed */
  margin-right: 50px; /* Add some spacing from the right edge */
  opacity: 0.85; /* Adjust opacity as needed */
}

.corner-image {
  position: absolute;
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Maintain aspect ratio */
  opacity: 0.85; /* Adjust opacity as needed */
}

.corner-image.top-left {
  top: 5px;
  left: 5px;
}

.corner-image.top-right {
  top: 5px;
  right: 5px;
}

.corner-image.bottom-left {
  bottom: 5px;
  left: 5px;
}

.corner-image.bottom-right {
  bottom: 5px;
  right: 5px;
}

.dashboard-middle {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center; /* Center the image horizontally */
}

.dashboard-sketch {
  width: 100%; /* Make the image fill the full width */
  height: auto; /* Maintain aspect ratio */
}

.dashboard-footer {
  position: absolute; /* Position it relative to the .dashboard container */
  bottom: 0; /* Stick to the bottom of the page */
  width: 100%; /* Full width of the screen */
  height: 150px; /* Fixed height */
  background-color: transparent; /* Semi-transparent black background */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  font-size: 1rem; /* Adjust font size as needed */
  z-index: 10; /* Ensure it stays above the background */
}

.footer-content {
  position: relative;
  width: 30%; /* Set the width to 40% of the screen */
  height: 60%; /* Full height of the footer */
  margin: 0 auto; /* Center the content horizontally */
  display: flex;
  justify-content: center; /* Center the text box horizontally */
  align-items: center; /* Center the text box vertically */
  flex-wrap: wrap; /* Allow corner images and text to wrap if needed */
}